# ===== OS files =====
.DS_Store
**/.DS_Store
Thumbs.db

# ===== Dependencies =====
node_modules/
SAC/node_modules/

# ===== Build outputs =====
dist/
build/

# ===== Environment files =====
.env
.env.*
